body {
  background-color: #083a4a; /* This sets the background color to light blue */
}

.text {
    padding: 5px;
    font-family: Arial, -apple-system, system-ui, 'Segoe UI';
    color: black;
    font-size: 1vw;
  }

.text p {
  padding-top: 0px;
  }

  a {
    text-decoration: none;
  }

  .credit {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    text-justify: center;
    margin-left: 100px;
    padding: 5px;
    font-size: 8px;
    font-family: Arial, -apple-system, system-ui, 'Segoe UI';
    color: rgb(255, 255, 255);
  }

.big-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  grid-auto-rows: 300px; 
  gap: 10px; 
}

.intro {
  opacity: 0;
  animation: fadeIn .75s ease-in forwards;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 10px;
  padding-left: 400px;
  padding-top: 40px;
  text-decoration: none;
  color: rgb(156, 46, 46);
  display: block;
  text-align: left;
} 
.intro-header {
  padding-top: 1px;
  font-weight: bold;
  color: rgb(236, 197, 5);
  font-size: xx-large;
  font-weight: bold;
}
  
.intro-sub-header {
  padding-top: 3px;
  padding-bottom: 7px;
  font-size: medium;
  font-weight: bold;
  color: black;
  /* font-size: 1.5vw; */
}

.photo-blob { 
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  grid-column: 3 / 5;
  grid-row: 1/ 3;
  transform:scale(100%) translate(10px) ;
  z-index:1;
  width: 100%;
  height: auto;
  max-width: 100%;

}

.light-blob {
  opacity: 0;
  animation: fadeIn .5s ease-in forwards;
  grid-column: 1 / 4;
  grid-row: 1 / 3;
  width: 1000px;
  height: 1000px;
  z-index: -3;
}

.light-blob path {
  fill: rgb(128, 164, 201); /* Initial fill color */
}

.white-blob {
  opacity: 0;
  animation: fadeIn .5s ease-in forwards;
  grid-column: 1 / 4;
  grid-row: 1 / 3;
  width: 1000px;
  height: 1000px;
  z-index: -1;
}

.white-blob path {
  fill: rgb(255, 255, 255); /* Initial fill color */
}

.dark-blob {
  opacity: 0;
  animation: fadeIn .5s ease-in forwards;
  grid-column: 2 / 7;
  grid-row: 1 / 3;
  width: 1500px;
  height: 1500px;
  z-index: -4;
  transform: rotate(15deg)
}

.dark-blob path {
  fill: rgb(2, 21, 40); /* Initial fill color */
}

.linkbar {
  grid-column: 1/4;
  grid-row: 2 / 3;
  opacity: 0;
  animation: fadeIn .75s ease-in forwards;
  text-align: left;
  text-justify: auto;
  padding-top: 15px;
  z-index: 4;
}

.linkbar a {
  text-align: center;
  padding: 15px;
  text-decoration: none;
  color:black;
  font-size: small;
}

.linkbar a:hover {
  text-align: center;
  text-decoration: none;
  color: rgb(156, 46, 46);
}

.about-stats {
  animation: fadeIn .75s ease-in forwards;
  grid-column: 2/5;
  grid-row: 5;
  display: flex;
  padding: 10px 120px;
  padding-top:0px;
  padding-left: 350px;
  text-decoration: none;
  color: black;
  display: block;
  text-align: left;
  transform: translate(0 20);
}

.about-header {
  padding-bottom:8px;
  font-size: xxx-large;
  font-weight: bold;
  color: rgb(236, 197, 5);
}

.about-photo {
  animation: fadeIn .75s ease-in forwards;
  grid-column: 1/2;
  grid-row: 5;
  transform: scale(28%) translate(170px, -400px); 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: block;
  width: 500px;
  height: auto; 
}

.about-photo img:hover {
  transform:rotate(5deg)
}

.content-blob {
  opacity: 0;
  animation: fadeIn .5s ease-in forwards;
  grid-column: 1 / 6;
  grid-row: 3 / 6;
  width: 1700px;
  height: 1750px;
  z-index: -4;
  transform: rotate(15deg)
}

.content-blob path {
  fill: rgb(249, 250, 251); 
}

.projects-blob {
  opacity: 0;
  animation: fadeIn .5s ease-in forwards;
  grid-column: 1 / 6;
  grid-row: 5 / 6;
  width: 600px;
  height: 1500px;
  z-index: -4;
  transform: rotate(-15deg) translate(550px);
  padding-top: 200px
}

.projects-blob-2 {
  opacity: 0;
  animation: fadeIn .5s ease-in forwards;
  grid-column: 1 / 6;
  grid-row: 5 / 6;
  width: 600px;
  height: 1500px;
  z-index: -5;
  transform: rotate(-10deg) translate(550px);
  padding-top: 170px
}

.projects-blob path {
  fill: rgb(249, 250, 251); 
}

.projects-blob-2 path {
  fill: rgb(2, 21, 40); 
}


.projects-header{
  padding-top: 1px;
  font-size: small;
  font-weight: bold;
  font-family: Arial, -apple-system, system-ui, 'Segoe UI';
  fill: rgb(156, 46, 46);
}

.projects-grid{
  grid-row: 8 / 10;
  grid-column: 1/6;
  display:grid;
  grid-template-columns: repeat(1, minmax(300px, 200px));
  gap: 15px;
  padding: 10px;
  justify-content: center;
  text-decoration: none
}

.projects-grid-item {
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-justify: center;
  border-radius: 10px;
  width:1210px;
  height:200px;
  transform: translate(-550px);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.project1 {
background-image: url('assets/comments-background.png');
position:relative;
}

.project1::before{
  content: '';
  position:absolute;
  top: -1;
  left: -1;
  width: 110%;
  height: 110%;
  background-size: cover;
  background-position: center;
  background: rgba(0, 0, 0, 0);
  filter:blur(3px);
  transition:background 0.3s ease, filter 0.3s ease;
  z-index: -1;
}

.project1:hover:before {
  background: rgba(0, 0, 0, 0.8);
}

.project2 {
  background-image: url('assets/concerts.JPG');
  position:relative;
  }
  
  .project2::before{
    content: '';
    position:absolute;
    top: -1;
    left: -1;
    width: 110%;
    height: 110%;
    background-size: cover;
    background-position: cover;
    background: rgba(0, 0, 0, 0);
    transition:background 0.3s ease, filter 0.3s ease;
    z-index: -1;
  }
  
  .project2:hover:before {
    background: rgba(0, 0, 0, 0.8);
  }

.project3 {
  background-image: url('assets/trailer.JPG');
  position:relative;
  }
  
  .project3::before{
    content: '';
    position:absolute;
    top: -1;
    left: -1;
    width: 110%;
    height: 110%;
    background-size: cover;
    background-position: cover;
    background: rgba(0, 0, 0, 0);
    transition:background 0.3s ease, filter 0.3s ease;
    z-index: -1;
  }
  
  .project3:hover:before {
    background: rgba(0, 0, 0, 0.8);
  }

.projects-grid-item p {
  vertical-align: middle;
  font-weight: bold;
  font-size: 35px;
  color:rgb(246, 246, 246);
}

.popup{
  display:none;
  position: fixed;
  left:0;
  top:0;
  height:100%;
  width:100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.popup:target{
  display:block;
}

.popup-content{
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 60vh; 
  width: 90vw;
  max-width: 1200px;
  z-index: 3;
  align-items: center;
  overflow: auto
}

.popup-content h1{
  padding-top: 50px;
  text-align: center;
  color:rgb(156, 46, 46)
}

.popup-content h2{
  text-align: center;
}

.popup-content p{
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
}

.popup-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.popup-content a {
  color:rgb(156, 46, 46);
}

.popup-content a:hover {
  color:rgb(236, 197, 5);
}

.close-popup{
  position:relative;
  top: 5px;
  left:68vw;
  font-size: 50px;
  background-color: white;
  color:#083a4a;
}

.close-popup:hover{
  color:rgb(236, 197, 5);
}

.concert-list {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  text-align: left;
  font-size: 14px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

#about {
  padding-top: 225px; /* Adjust this value as needed */
  margin-top: -225px; /* Adjust this value as needed */
}

#projects {
  padding-top: 250px; /* Adjust this value as needed */
  margin-top: -250px; /* Adjust this value as needed */
}

@media (max-width: 600px) {

  .close-popup {
  left:85vw;
  }
}

/* 
@media (max-width: 600px) {

  .text {
    font-size: 5px;
  }

  .intro {
    grid-column: 1 / -1;
    grid-row: auto;
    padding: 20px 10px;
    padding-left: 10px;
    padding-top: 10px;
    font-size:10px;
    color: rgb(46, 156, 77) !important;
  } 

} */